h1{
    color:green;
}
*{
   border:solid; 
}
.header{
    /* background-color:mediumaquamarine; */
    display:flex;
    justify-content:space-evenly;
}
.projects{
    /* background-color: bisque; */
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
/* .description{
    background-color:paleturquoise;
} */
.icons{
    /* background-color:lawngreen; */
    display:flex;
    justify-content:flex-end;
}
p,h2{
    text-align:center;
}
body{
    background-color:#808080;
}
.link{
    padding:30px;
}